<footer class="site-footer">
  <div class="container">
    <div class="row gy-4">

      <div class="col-md-6 text-center" align="right">
        <h5 class="footer-title">Guilherme Reif</h5>
        <p class="footer-text">
          Desenvolvedor FullStack.
        </p>
      </div>

      <div class="col-md-6 footer-text text-center">
        <h5 class="footer-title">Conecte-se</h5>
        <div class="footer-socials">
          <a href="https://github.com/Reifz" target="_blank">GitHub</a>
          <a href="#">LinkedIn</a>
          <a href="#">Instagram</a>
        </div>
      </div>

    </div>

    <div class="footer-bottom">
      © 2026 Guilherme Reif - Todos os direitos reservados
    </div>
  </div>
</footer>
